/* ------------------------------------------------------------ */
/* Horizontal/vertical centering */
/* http://blog.sklambert.com/responsive-html5-canvas-game/ */
body {
   background-color: #000;
}

.wrapper {
   display: table;
   padding: 0;
   width: 100%;
   height: 100%;
   position: absolute;
}
.container {
   display: table-cell;
   vertical-align: middle;
}
.canvas-container {
   position: relative;
   margin: 0 auto;
   height: 300px;
   width: 420px;
   background-color: #ddd;
}
canvas {
   width: 100%;
   height: auto;
   position: absolute; top: 0; left: 0; 
}

/* ------------------------------------------------------------ */
/* Media queries */
/* https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */

/* Width */
@media only screen 
  and (min-device-width: 320px) {

	.canvas-container {
	   width: 300px;
	}
}

@media only screen 
  and (min-device-width: 480px) {

	.canvas-container {
	   width: 420px;
	}
}

@media only screen 
  and (min-device-width: 768px) {

	.canvas-container {
	   width: 660px; /*720px;*/
	}
}

@media only screen 
  and (min-device-width: 1024px) {

	.canvas-container {
	   width: 1020px;
	}
}

/* Height */
@media only screen 
  and (min-device-height: 320px) {

	.canvas-container {
	   height: 300px;
	}
}

@media only screen 
  and (min-device-height: 480px) {

	.canvas-container {
	   height: 420px;
	}
}


@media only screen 
  and (min-device-height: 768px) {

	.canvas-container {
	   height: 660px;/*720px;*/
	}
}

@media only screen 
  and (min-device-height: 1024px) {

	.canvas-container {
	   height: 1020px;
	}
}


